img {
	border:0px
}
a, a:visited {
	text-decoration: none; color: #443344
}

input[type=button], input[type=submit] {
	font-size:12px;
}


/* basic frame classes */
.ladm_frame {
	position:relative;
	width:100%;
	margin:0px;
	padding:0px;
	border:0px;
	text-align:left;
}
.ladm_topbar {
	position:fixed;
	top: 0px; left: 0px;
	height: 66px;
	width:100%;
	z-index:400;
	background: url('/pages/_common/files/adm/skin/base/adm_topo.png') repeat-x top;
}
.ladm_loggeduser {
	position:absolute;
	top:10px;
	right: 10px;
	width:190px;
	height: 41px;
	color: #f58220;
	overflow: hidden;
	z-index:401;
	background: url('/pages/_common/files/adm/skin/base/adm_userarea.png') no-repeat;
}
.ladm_loggedusername {
	color: #f58220;
	position: absolute;
	display: block;
	top: 7px;
	left: 45px;
	width: 140px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.ladm_loggeduserprofile {
	color: #f58220;
	position: absolute;
	display: block;
	top: 22px;
	left: 45px;
	width: 40px;
	font-size: 10px;
	text-decoration: none;
}
.ladm_loggedusersettings {
	color: #f58220;
	position: absolute;
	display: block;
	top: 22px;
	left: 91px;
	width: 40px;
	font-size: 10px;
	text-decoration: none;
}
.ladm_loggeduserlogout {
	color: #f58220;
	position: absolute;
	display: block;
	top: 22px;
	left: 145px;
	width: 40px;
	font-size: 10px;
	text-decoration: none;
}
.ladm_loggeduserprofile:visited, .ladm_loggedusername:visited, .ladm_loggedusersettings:visited, .ladm_loggeduserlogout:visited {
	color: #f58220;
	text-decoration: none;
}
.ladm_loggeduserprofile:hover, .ladm_loggedusername:hover, .ladm_loggedusersettings:hover, .ladm_loggeduserlogout:hover {
	color: #fff;
	text-decoration: none;
}
.ladm_loggedimage {
	position: absolute;
	top: 6px;
	left: 7px;
	height: 28px;
	width: 28px;
	background: #000;
}
.ladm_logocliente {
	height:60px;
	text-align:center;
	width: 145px;
	overflow: hidden;
}

/* monitoramento */

.ladm_monitor {
	z-index:401;
	position:absolute;
	right: 210px;
	top: 10px;
	height: 18px;
	padding: 0px 5px 0px 5px;

}
.ladm_monitoricon {
	position: relative;
	width: 42px;
	height: 42px;
	background: url('/pages/_common/files/adm/skin/base/adm_notifyarea.png') no-repeat;
	float:left;
	margin-right: 5px;
}

/* -- sidebar -- */
.ladm_menubar {
	width:197px;
	background: #041f34 url('/pages/_common/files/adm/skin/base/adm_sidebar.png') repeat-y left;
	position:absolute;
	top:60px;
	left:0px;

	border-right:1px solid #ddd;
	padding-top:10px;
	padding-bottom: 100px;
	z-index: 300;
	font-size: 12px;
}
.ladm_stitch {
	width:8px;
	left:197px; /* changes here should reflect on hs adminslider() */
	height: 100%;
	z-index: 350;
	cursor: pointer;
	position: fixed;
	top: 60px; /* changes here should reflect on hs adminslider() */
}

/* --- MENU --- */
.ladm_searchbox {
	position: relative;
	margin-top: 6px;
	margin-bottom: 6px;
	height: 34px;
	margin-left: 10px;
	background: url('/pages/_common/files/adm/skin/base/adm_searchbar.png') top left no-repeat;
}
.ladm_searchinput {
	border:0px;
	margin:8px 0px 0px 10px;
	padding:0px;
	background: transparent;
	color: #a0a0a0;
	width:130px;
}
.ladm_searchsubmit {
	border:0px; margin:0px; padding:0px;
	background: transparent;
	width: 20px;
	height: 34px;
	position: absolute;
	right: 20px;
	top:0px;
}
.ladm_menuline {
	background: url('/pages/_common/files/adm/skin/base/adm_sidebarline.gif') bottom left no-repeat;
	height: 2px;
}
.ladm_menuitem {
	background: url('/pages/_common/files/adm/skin/base/adm_sidebarline.gif') bottom left no-repeat;
	padding-top:6px;
	padding-bottom: 7px;
	height: 2.2em;
	padding-left: 5px;
	color: #fff;
	font-size: 1em;
	line-height: 2.2em;
	cursor: pointer;
	overflow: hidden;
}
.ladm_menuitem img {
	vertical-align: middle;
	margin-right: 8px;
}
.ladm_menuitem:hover {
	color: #fe8020;
}
.ladm_menusubitem_holderstart {
	background: url('/pages/_common/files/adm/skin/base/adm_sidebar_innerup.png') top left no-repeat;
	height: 5px;
}
.ladm_menusubitem_l1 {
	padding-left: 37px;
	color: #fff;
	font-size: 1em;
	line-height: 2.2em;
	cursor: pointer;
}
.ladm_menusubitem_l2 {
	padding-left: 47px;
	color: #fff;
	font-size: 1em;
	line-height: 2em;
	cursor: pointer;
}
.ladm_menusubitem_l3 {
	padding-left: 57px;
	color: #fff;
	font-size: 1em;
	line-height: 1.8em;
	cursor: pointer;
}
.ladm_menusubitem_l4 {
	padding-left: 67px;
	color: #fff;
	font-size: 1em;
	line-height: 1.6em;
	cursor: pointer;
}
.ladm_menusubitem_l1:hover,.ladm_menusubitem_l2:hover,.ladm_menusubitem_l3:hover,.ladm_menusubitem_l4:hover {
	color: #f58220;
	background: #041c2f url('/pages/_common/files/adm/skin/base/adm_sidebar_over.png') repeat-y top left;
}
.ladm_menuitem_stat {
	float: right;
	color: #f58220;
	line-height:24px;
	width: 38px;
	margin-right: 7px;
	height: 45px;
	padding-left:4px;
	background: url('/pages/_common/files/adm/skin/base/adm_sidebar_box.png') no-repeat;
	margin-top: 2px;
}


/* CONTENT */
.ladm_content {
	margin-left: 202px; /* changes here should reflect on hs adminslider() */
	padding-top: 66px;
	position:relative;
	padding-right: 5px
	font-size: 12px;
}
.lxmladm_box {
	margin: 10px;
	padding: 5px;
	font-size: 1em;
	border: 1px solid #eee;
	background: #fff;
}
.lxmladm_fakebox { /* soh para por title dentro */
	margin: 10px 10px 0px 10px;
	padding: 5px 5px 0px 5px;
}
.lxmladm_title {
	color: #fff;
	font-size: 1em;
	position: relative;
	font-weight: bold;
	height: 41px;
	line-height: 41px;
	padding: 3px 0px 3px 10px;
	margin: -5px -3px 5px -3px;
	background: #012642 url('/pages/_common/files/adm/skin/base/adm_titlebody.png') repeat-x top left;
}
.ladm_titleclosure {
	margin-bottom: 0px !important;
}
.lxmladm_title:before {
	content: " ";
	width: 7px;
	height: 47px;
	float: left;
	position:absolute;
	top:0px;
	left: -7px;
	background: url('/pages/_common/files/adm/skin/base/adm_titleleft.png') repeat-x top left;
}
.lxmladm_title:after {
	content: " ";
	width: 6px;
	height: 47px;
	position:absolute;
	top:0px;
	right:-6px;
	background: url('/pages/_common/files/adm/skin/base/adm_titleright.png') repeat-x top right;
}

.lxmladm_subtitle {
	color: #fff;
	font-size:11px;
	position: relative;
	line-height: 24px;
	font-weight: bold;
	height: 24px;
	padding: 3px 0px 3px 10px;
	background: #012642;
}
.lxmladm_subtitle a, lxmladm_title a {
	color: #ffffff;
}

/* ICONES E BOTOES */
.ladm_titleicons {
	float:right;
	padding-top:9px;
	overflow: hidden;
	height: 22px;
}
.ladm_icomup {
	float:right;
	width: 22px;
	height: 22px;
	cursor: pointer;
	margin: 0px 5px 0px 5px;
	background: url('/pages/_common/files/adm/skin/base/adm_icomup.png') no-repeat;
}
.ladm_iconew {
	float:right;
	width: 22px;
	height: 22px;
	cursor: pointer;
	margin: 0px 5px 0px 5px;
	background: url('/pages/_common/files/adm/skin/base/adm_icoplus.png') no-repeat;
}
.ladm_icosearch {
	float:right;
	width: 22px;
	height: 22px;
	cursor: pointer;
	margin: 0px 5px 0px 5px;
	background: url('/pages/_common/files/adm/skin/base/adm_icosearch.png') no-repeat;
}
.ladm_icoprint {
	float:right;
	width: 22px;
	height: 22px;
	cursor: pointer;
	margin: 0px 5px 0px 5px;
	background: url('/pages/_common/files/adm/skin/base/adm_icoprint.png') no-repeat;
}
.ladm_icolist {
	float:right;
	width: 22px;
	height: 22px;
	cursor: pointer;
	margin: 0px 5px 0px 5px;
	background: url('/pages/_common/files/adm/skin/base/adm_icolist.png') no-repeat;
}
.ladm_icodown {
	float:right;
	width: 22px;
	height: 22px;
	cursor: pointer;
	margin: 0px 5px 0px 5px;
	background: url('/pages/_common/files/adm/skin/base/adm_icodown.png') no-repeat;
}
.ladm_buttonred { /* buttons that should remove/reset */
	width: 87px;
	height: 27px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	border: 0px;
	color: #fff;
	background: url('/pages/_common/files/adm/skin/base/adm_btnred.png') no-repeat;
}
.ladm_buttonred:hover {
	background: url('/pages/_common/files/adm/skin/base/adm_btnred_over.png') no-repeat;
}
.ladm_buttongreen { /* normal action buttons */
	width: 87px;
	height: 27px;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	border: 0px;
	color: #fff;
	background: url('/pages/_common/files/adm/skin/base/adm_btngreen.png') no-repeat;
}
.ladm_buttongreen:hover {
	background: url('/pages/_common/files/adm/skin/base/adm_btngreen_over.png') no-repeat;
}
.ladm_buttonblue { /* same-page optional button */
	width: 87px;
	height: 27px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	cursor: pointer;
	color: #fff;
	background: url('/pages/_common/files/adm/skin/base/adm_btnblue.png') no-repeat;
}
.ladm_buttonblue:hover {
	background: url('/pages/_common/files/adm/skin/base/adm_btnblue_over.png') no-repeat;
}
.ladm_buttongrey { /* disabled button */
	width: 87px;
	height: 27px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	border: 0px;
	color: #fff;
	background: url('/pages/_common/files/adm/skin/base/adm_btngrey.png') no-repeat;
}

/* INPUT */
.ladm_fancyinput {
}

/* GENERICOS */

.ladm_erro {
	padding:16px 16px 16px 40px;
	margin:10px;
	font-weight:bold;
	background: #facfcf url('/pages/_common/files/adm/skin/base/message-error.png') 8px center no-repeat;
	border: 1px solid #ff0000;
	color:#a52525;

}
.ladm_info {
	padding:16px 16px 16px 40px;
	margin:10px;
	background: #d8e7fa url('/pages/_common/files/adm/skin/base/message-info.png') 8px center no-repeat;
	border: 1px solid #9dbfea;
	color:#00357b;
}
.ladm_success {
	padding:16px 16px 16px 40px;
	margin:10px;
	background: #d1e8d2 url('/pages/_common/files/adm/skin/base/message-success.png') 8px center no-repeat;
	border: 1px solid #339933;
	color:#00632e;
}
.ladm_aviso {
	padding:16px 16px 16px 40px;
	margin:10px;
	background: #fdefbd url('/pages/_common/files/adm/skin/base/message-warning.png') 8px center no-repeat;
	border: 1px solid #d4b64b;
	color:#675100;
}
.lxmladm_help {
	margin: 3px; padding: 5px;  font-weight:bold; border: 1px solid #aaaa66;  background: #efff96
}

.warning_class {
	background: url('/pages/_js/autoform/booble.gif') top left no-repeat; color: #ffffff; z-index: 500; font-weight:bold; line-height:20px;height:25px; min-width:200px; padding-left:4px; text-align:left
}


.lxmladm_linha {
	border-bottom: 1px solid #eeeeee; padding: 1px;
}
.lxmladm_error0 {
	border-bottom: 1px solid #eeeeee; font-size: 9px
}
.lxmladm_error1 {
	border-bottom: 1px solid #ffeeee; color:#ff7777; font-size: 9px
}
.lxmladm_error2 {
	border-bottom: 1px solid #ffcccc; color:#ee3333; font-size: 9px; font-weight: bold
}
.selectedoption {
	background: #eeeefe;
}
.grifo_inferior {
	border-bottom: 1px dotted #7f7f8f;
}
.order_item {

}
.orderlist_itemover {
	background: #eeeeff;
}
.div_progressbar {
	background: #333355;
}


/* login */

.ladm_loginbox {
	position: relative;
	margin: 0px auto;
	width: 307px;
	height: 247px;
	background: url('/pages/_common/files/adm/skin/base/loginbg.png') no-repeat;
}


/* general admin content - listas */

.ladm_listitem {
	height: 34px;
	overflow: hidden;
}
.ladm_order {
	float:left;
	padding-top: 5px;
	margin-right: 5px;
}
.ladm_listtitle {
	background: #f1f1f1 url('/pages/_common/files/adm/skin/base/list_title.gif') repeat-x top left;
	color: #333333;
	padding:5px 0px 5px 0px;
	height: 24px;
	line-height:24px;
	font-weight: bold;
	overflow: hidden;
}
.ladm_listsubtitle {
	background: #d7d7d7;
	color: #333333;
	padding:5px 0px 5px 3px;
	line-height:24px;
	font-weight: bold;
}
.ladm_listcenter {
	height:34px;
	overflow: hidden;
	width:auto;
}
.ladm_lineeven {
	height: 24px;
	padding:5px 0px 5px 0px;
	background: #fafafa;
	line-height:24px;
	overflow: hidden;
}
.ladm_lineodd {
	height: 24px;
	padding:5px 0px 5px 0px;
	background: #f2f2f2;
	line-height:24px;
	overflow: hidden;
}
.ladm_linepreview {
	border: 1px solid #eee;
	margin: 0px 10px 10px 10px;
	padding: 5px;
}
.linebutton {
	float:left;
	width:20px;
	cursor:pointer;
	padding-top: 10px;

}

/* administrative paging */

.ladm_paging {
	background: #012641;
	color: #fff;
	font-weight: normal;
	height: 34px;
	margin: -5px 0px 0px -3px;
}
.ladm_pages {
	float:right;
}
.ladm_pagingpage {
	height: 25px;
	margin-top: 5px;
	font-size: 10px;
	color: #fff;
	float: left;
	cursor: pointer;
	background: url('/pages/_common/files/adm/skin/base/paging_page.png') no-repeat;
	width: 32px;
	text-align: center;
}
.ladm_pagefirst {
	width: 53px;
	background: url('/pages/_common/files/adm/skin/base/paging_first.png') no-repeat;
	height: 25px;
	margin-top: 5px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	float: left;
	padding: 0px 0px 0px 7px;
	cursor: pointer;
}
.ladm_pagelast {
	width: 53px;
	background: url('/pages/_common/files/adm/skin/base/paging_last.png') no-repeat;
	height: 25px;
	margin-right: 10px;
	margin-top: 5px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	float: left;
	padding: 0px 7px 0px 0px;
	text-align: right;
	cursor: pointer;
}
.ladm_pagemore {
	height:24px;
	padding: 5px;
	line-height: 24px;
	font-size: 10px;
	float: left;
	font-weight: bold;
	color: #fffff;
	font-size: 10px;
	cursor: pointer;
}
.pagecurrent {
	background: url('/pages/_common/files/adm/skin/base/paging_current.png') no-repeat;
	color: #012641;
}



/* -- desconhecido -- */

.lxmladm_folders {
	text-decoration: none
}
.lxmladm_progressbar {
	background: #5555f0
}
.lgrifo_inferior {
	border-bottom: 1px solid #dddddf
}



/* CALENDAR */
.calendarClass {
	border: 1px solid #8eb2e9;
	text-align: center;
	margin: 0px auto;
}
.calendarTitleClass {
	background: #42499f;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	height: 22px;
	margin: 0px auto;
	overflow: hidden;
}
.calendarTitleDaysClass {
	font-size: 11px;
	text-align: center;
	line-height: 18px;
	height: 20px;
	margin: 0px auto;
	overflow: hidden;
}
.calendarTitleWeekDayClass {
	float:left;
	height: 20px;
}
.calendarTitleWeekendDayClass {
	background: #bbb;
	float:left;
	height: 20px;
}
.calendarLineClass {
	line-height: 17px;
	height: 19px;
	border-bottom: 1px solid #eee;
	color: #000;
	font-size: 10px;
	margin: 0px auto;
	overflow: hidden;
}
.calendarDayNormal {
	background: #fff;
	float:left;
	height: 19px;
}
.calendarDayToday {
	background: #8eb2e9;
	float:left;
	height: 19px;
}
.calendarDayWeekend {
	background: #ddd;
	float:left;
	height: 19px;
}
.calendarDayEmpty {
	background: #fff;
	float:left;
	height: 19px;
}
.calendarDayHighlight {
	background: #fbb;
	height: 19px;
}
