.dgw_window {
  position:absolute;
  overflow:hidden;
}
.dgw_closearea {
  width:20px;height:18px;overflow:hidden;right:0px;top:3px;position:absolute;cursor:pointer;
}
.dgw_resize {
  width:15px;height:15px;overflow:hidden;right:0px;bottom:0px;position:absolute;cursor:move;
}
.dgw_conteudo{
  padding: 1px;
  overflow: hidden;
  text-align:justify;
}
.dgw_conteudo_nr{
  padding: 1px;
  overflow:hidden;
  text-align:justify;
}
